<div class="wrapper" >
    <div class="cont bg-[#161616] w-full h-[98px] " >
        <footer class="flex justify-center" >
            <div class="grid grid-cols-3 gap-2" >
                <div class="text-center" >
                    <h3>Informaciòn</h3>
                    <p>Certificaciones</p>
                </div>
                <div class="text-center" >
                    <h3>Contacto</h3>
                </div>
                <div class="text-center" >
                    <h3>Redes</h3>
                </div>
            </div>
        </footer>
    </div>
</div>
