<div class="wrapper  bg-[#b8c0cc] ">


    <div class="flex flex-row w-full justify-center ">
        <div class=" font-semibold bg-[#b8c0cc] flex flex-col space-y-6 basis-4/5 text-center mt-8  mb-4 py-1">
            <h2 class="text-4xl text-[#000000] ">Contacto</h2>
            <div class="font-light text-[#000000] flex flex-col basis-4/5  ">
                <p class="text-justify ">En <span class="font-semibold">Imeisa</span> nos enfocamos en la calidad y en
                    ofrecer la mejor experiencia a
                    nuestros clientes.
                    Para brindarle un servicio eficiente, ponemos a su disposición nuestros canales de contacto.</p>
            </div>
            <div class="flex basis-4/5 justify-sart text-[#000000] font-light " >
                <div class="grid grid-cols-1 gap-y-3 ">
                    <p>tel.+52 222 337 57 35</p>
                    <p>{{email}}</p>
                </div>
            </div>

        </div>
    </div>


</div>