<div class="wrapper mt-[12rem]">
  <div class="cont w-full h-auto bg-[#0e89db] z-1 relative grid grid-cols-1 gap-1 items-center ">

    <div class="flex flex-row w-full justify-center ">
      <div class=" font-semibold bg-[#ffffff] basis-4/5 text-center mt-8  mb-4 py-1">
        <h2 class="text-4xl text-[#0e89db] ">Servicios</h2>
      </div>
    </div>

    <div class="flex w-full justify-center mt-5">
      <div class="basis-4/5 ">
        <h4 class=" text-3xl font-bold text-[#ffffff]">Perfil •</h4>
        <div class="mt-5 text-justify">
          <p>
            Somos una empresa 100% mexicana, fundada en la ciudad de Puebla en 2006.
            Con más de 15 años de experiencia, nos especializamos en ofrecer soluciones
            integrales en distribución e integración de maquinaria, garantizando calidad,
            innovación y eficiencia para el crecimiento de tu empresa. Actualmente, estamos
            presentes en 18 estados, brindando cobertura y atención especializada a nuestros clientes.
          </p>
        </div>
      </div>
    </div>

    <div class="flex w-full justify-center mt-5 mb-[5rem]">
      <div class="basis-4/5 mt-5">
        <h4 class=" text-3xl font-bold text-[#ffffff]">Objetivo •</h4>
        <div class="mt-5 text-justify">
          <p>
            Ofrecer y distribuir líneas de productos nacionales e
            internacionales, brindando integración y servicio técnico de
            nuestras marcas representadas.
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
