<div class="wrapper mt-[12rem]">
  <div class="cont w-full h-auto bg-[#ffffff] z-1 relative grid grid-cols-1 gap-1 items-center ">

    <div class="flex flex-row w-full justify-center ">
      <div class=" font-semibold bg-[#0e89db] basis-4/5 text-center mt-8  mb-4 py-1">
        <h2 class="text-4xl text-[#ffffff] ">Clientes</h2>
      </div>
    </div>
  </div>

  <div class="cont w-full h-auto bg-[#ffffff] z-1 relative grid grid-cols-4 gap-1 items-center ">
    <div class="grid grid-cols-1 gap 3" >
      <div class="basis-3/4" >
        <img src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=243,h=243,fit=crop/A0xle3rkDZsje3vZ/drax-AE0P22gGgaTP4yD5.png" alt="">
      </div>
    </div>
      
  </div>
</div>
