<div class="scroll-background">
  <div class="overlay"></div>

  <div class="cont relative z-10">
    
    <div class="hero text-[42px] h-[550px] sm:h-[450px] lg:h-[550px] lg:px-[12rem] px-8  w-full sm:px-[4rem] flex justify-center items-center">
      <p class="text-center text-[#ffffff] xl:hidden ">CALIDAD E INNOVACIÓN EN MAQUINARIA INDUSTRIAL</p>
      <p class="text-center text-[#ffffff] hidden xl:block ">CALIDAD E INNOVACIÓN  <br>EN MAQUINARIA INDUSTRIAL</p>
    </div>

    <section>
      <app-ourservices></app-ourservices>
    </section>
    <section>
      <app-us></app-us>
    </section>
    <section>
      <app-clients></app-clients>
    </section>
    <section>
      <app-contact></app-contact>
    </section>

  </div>
</div>

<router-outlet></router-outlet>
