<div class="scroll-background">
  <div class="overlay"></div>

  <div class="cont relative z-10">


    <div
      class="hero text-[42px] lg:text-[50px] h-[550px] sm:h-[450px] lg:h-[550px] lg:px-[10rem] px-8  w-full sm:px-[4rem] flex justify-center items-center">
      <p class="text-center text-[#ffffff] xl:hidden ">{{'HERO' | translate}} <span class="text-[#4db8ff]">
          {{'HERO_COLOR' | translate}}</span></p>
      <p class="text-center text-[#ffffff] hidden  xl:block ">{{'HERO' | translate}} <br> <span
          class="text-[#4db8ff]">{{'HERO_COLOR' | translate}}</span> </p>

    </div>


    <!-- *MOBILE-TABLET -->
    <section class="mt-0 bg-[#ffffff] py-[15px] lg:hidden block ">
      <div id="swiper-trademarksmobile" class="swiper  ">
        <div class="swiper-wrapper">
          <!-- Swiper Slides -->
          <div class="swiper-slide" *ngFor="let item of trademarks">
            <img [src]="item.img"  [alt]="item.title"
              class="swiper-img w-[230px] h-[60px]  xl:h-[90px] xl:w-[345px] " />
          </div>
        </div>
        <!-- Swiper Navigation -->
        <div class="swiper-button-next button-img   "></div>
        <div class="swiper-button-prev button-img"></div>
        <!-- Swiper Pagination -->
        <!-- <div class="swiper-pagination"></div> -->
      </div>
    </section>

    <!-- *DESKTOP -->
    <section class="mt-0 bg-[#ffffff] py-[15px] hidden lg:block ">
      <div id="swiper-trademarksdesktop" class="swiper  ">
        <div class="swiper-wrapper">
          <!-- Swiper Slides -->
          <div class="swiper-slide " *ngFor="let item of trademarks">
            <img [src]="item.img"  [alt]="item.title"
            class="swiper-imgdesktop w-[230px] h-[60px] xl:w-[350px] xl:h-[90px] " />
          </div>
        </div>
        <!-- Swiper Navigation -->
        <div class="swiper-button-next button-img   "></div>
        <div class="swiper-button-prev button-img"></div>
        <!-- Swiper Pagination -->
        <!-- <div class="swiper-pagination"></div> -->
      </div>
    </section>



    <section>
      <app-ourservices></app-ourservices>
    </section>
    <!-- <section>
      <app-us></app-us>
    </section> -->
    <section>
      <app-clients></app-clients>
    </section>
    <section>
      <app-contact></app-contact>
    </section>

  </div>
</div>


<router-outlet></router-outlet>