<div class="wrapper">
  <div class="cont w-full h-auto bg-[#0e89db] z-1 relative grid grid-cols-1 gap-1 items-center ">

    <div class="flex flex-row w-full justify-center ">
      <div class=" font-semibold bg-[#0e89db] basis-4/5 sm:basis-3/6 lg:basis-3/7 text-center mt-8  mb-4 py-1">
        <h2 class="text-4xl text-[#ffffff] ">Servicios</h2>
      </div>
    </div>

    <div class="bg-[#0e89db]  h-[315px] lg:min-h-[450px] xl:min-h-[600px] flex flex-row justify-center mb-5 ">
      <img class=" shadow-xl/30  aspect-2/4 object-cover h-full basis-4/5 sm:basis-3/6 lg:basis-3/7  rounded-xl " src="/assets/background.png" alt="fondo-imeisa">
    </div>

    <div class="w-full  flex flex-row justify-center mb-8 ">
      <div class="flex basis-4/5 sm:basis-3/6 lg:basis-3/7  pl-10 lg:pl-8 ">
        <ul class=" list-disc text-[#ffffff] text-lg font-normal" >
          <li>Sistemas de carga</li>
            <li>Pailería</li>
            <li>Maquinados</li>
            <li>Metalmecánica</li>
            <li>Automatización</li>
        </ul>
      </div>
    </div>


    <div class=" flex w-full justify-center mb-[5rem]">
      <button (click)="viewPdf()" class="bg-[#ffffff] hover:bg-[#56ace6] hover:text-[#ffffff] cursor-pointer focus:outline-2
      focus:outline-offset-2 focus:outline-[#56ace6] active:bg-[#0e89db] p-3 rounded-xl shadow-xl/10 text-[#0e89db] " >Ver más (PDF)</button>
    </div>

  </div>
</div>
