<div class="wrapper">
  <div class="cont w-full h-auto bg-[#ffffff] z-1 relative grid grid-cols-1 gap-1 items-center ">

    <div class="flex flex-row w-full justify-center ">
      <div class=" font-semibold bg-[#0e89db] basis-4/5 text-center mt-8  mb-4 py-1">
        <h2 class="text-4xl">Servicios</h2>
      </div>
    </div>

    <div class="bg-[#ffffff]  h-[315px] flex flex-row justify-center mb-5">
      <img class=" h-full basis-4/5 rounded-xl " src="/assets/background.png" alt="fondo-imeisa">
    </div>

    <div class="w-full  flex flex-row justify-center mb-8 ">
      <div class="flex basis-4/5  pl-10 ">
        <ul class=" list-disc text-[black] text-lg font-light" >
          <li>Sistemas de carga</li>
            <li>Pailería</li>
            <li>Maquinados</li>
            <li>Metalmecánica</li>
            <li>Automatización</li>
        </ul>
      </div>
    </div>


    <div class=" flex w-full justify-center mb-[5rem]">
      <button class="bg-[#0e89db] hover:bg-[#56ace6] cursor-pointer focus:outline-2
      focus:outline-offset-2 focus:outline-[#56ace6] active:bg-[#0e89db] p-3 rounded-xl" >Ver más (PDF)</button>
    </div>

  </div>
</div>
